body {
    background-color: #e3e5e6;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.form-signin {
    width: 90%;
    max-width: 800px;
    padding: 15px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    position: relative;
    margin: auto;
}

.color-strip {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 5px;
    background: linear-gradient(to right, #00CED1, #FFD700, #FF4500, #FF6347);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.logo-container {
    display: none;
}

.vertical-line {
    display: none;
}

.form-signin .form-floating:focus-within {
    z-index: 2;
}

.form-signin .form-control {
    border-radius: 5px;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

.form-check {
    display: flex;
    align-items: center;
}

.form-check-input {
    margin-right: 10px;
}

.swal-wide-button {
    width: 100px;
}

@media (min-width: 900px) {
    .logo-container {
        display: block;
        width: 30%;
        text-align: center;
        margin-right: 20px;
    }

    .logo img {
        max-width: 100%;
        height: auto;
    }

    .vertical-line {
        display: block;
        width: 2px;
        height: 80%;
        background-color: #ababab;
        margin-right: 20px;
        position: absolute;
        left: 31%;
        top: 10%;
        bottom: 10%;
        z-index: 1;
    }
}