body {
    background-color: rgb(237, 243, 249); /* Новый цвет фона */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.form-signin {
    width: 90%;
    max-width: 800px; /* Увеличили ширину формы */
    padding: 15px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    position: relative; /* Убираем фиксированное позиционирование */
    margin: auto; /* Центрируем форму */
}

.color-strip {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 5px;
    background: linear-gradient(to right, #00CED1, #FFD700, #FF4500, #FF6347); /* Бирюзовый, желтый, красный, оранжевый */
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.logo-container {
    display: none; /* Скрываем логотип по умолчанию */
}

.vertical-line {
    display: none; /* Скрываем вертикальную линию по умолчанию */
}

.form-signin .form-floating:focus-within {
    z-index: 2;
}

.form-signin .form-control {
    border-radius: 5px; /* Закруглили края окон */
}

.btn-primary {
    background-color: #007bff; /* Синий цвет для кнопок */
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3; /* Темнее синий для кнопок при наведении */
    border-color: #0056b3;
}

.form-check {
    display: flex;
    align-items: center;
}

.form-check-input {
    margin-right: 10px;
}

.swal-wide-button {
    width: 100px; /* Установите желаемую ширину */
}

/* Медиа-запрос для ширины экрана > 600px */
@media (min-width: 600px) {
    .logo-container {
        display: block; /* Показываем логотип */
        width: 30%; /* Используем проценты для ширины */
        text-align: center;
        margin-right: 20px;
    }

    .logo img {
        max-width: 100%;
        height: auto;
    }

    .vertical-line {
        display: block; /* Показываем вертикальную линию */
        width: 2px;
        height: 80%; /* Высота линии */
        background-color: #ababab; /* Цвет линии */
        margin-right: 20px;
        position: absolute; /* Добавляем абсолютное позиционирование */
        left: 31%; /* Сдвигаем линию вправо */
        top: 10%; /* Отступ сверху */
        bottom: 10%; /* Отступ снизу */
        z-index: 1; /* Убедимся, что линия находится на переднем плане */
    }
}